@import '../../../variables.scss';

.product-editor {
    background-color: #fff;
    height: 100vh;
    overflow-y: scroll;

    .title {
        text-align: center;
        padding: 30px 0px;
    }

    .editor-section {
        padding: 20px 15px;
        .row {
            padding-top: 15px;
        }
    }

    action-button {
        margin-top: 15px;
        display: block;
    }
}