.orders-list-component {
    overflow-y: scroll;
    height: 100%;

    .order-item {
        padding: 25px;
        position: relative;
        cursor: default;

        &:hover {
            background-color: #e1e1e1;
        }

        &.warning {
            background-color: #ff8b87;
        }

        &.selected {
            box-shadow: inset 0px 0px 3px 2px rgba($color: #000000, $alpha: 0.2);
            background-color: #e1e1e1;
        }

        .status-line {
            position: absolute;
            left: 0px;
            top: 0px;
            height: 100%;
            width: 6px;
            background-color: orange;
        }

        .user-info {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 6px;
        }

        .description {
            font-style: italic;
        }

        .icons {
            display: flex;
            justify-content: space-between;

            .icon-item {
                padding: 6px;
                display: flex;
                align-items: center;

                i {
                    font-size: 24px;
                    margin-right: 10px;
                }

                span {
                    font-size: 15px;
                }
            }
        }
    }
}